main
  .whats_this
    h1 100years Twitterとは
    h2 連用日記をモチーフにしたTwitterのクローンアプリです
    p 1日のつぶやきのみ表示され、過去の同じ時間のつぶやきも同じタイムラインに表示されます
    p 現在は作者のつぶやきのみ。実質作者のミニブログ
  .tweets
    .tweet
      .tweet_text
        p サンプル1
      .tweet_time 
				10:31
    .tweet.past
      .tweet_text
        p サンプル2 過去のツイート
      .tweet_time 
				span.tweet_year 昨日の span 10:32
    .tweet
      .tweet_img src="http://afpbb.ismcdn.jp/mwimgs/e/6/810x540/img_e650cde6995db99067d5de3f775febdb195575.jpg"
          alt=""
      .tweet_text
        pサンプル3 画像付きツイート
      .tweet_time"10:33
    .tweet
      .tweet_text
        p サンプル4 長文ツイート
      .tweet_time 10:34d
    .tweet.past
      .tweet_img
        img src="https://i.pinimg.com/originals/89/21/db/8921db38fad721d71e160b37a17d46d8.jpg" alt=""
      .tweet_text
        p サンプル5 過去の画像付き
      .tweet_time 
				span.tweet_year 昨年のspan10:35
