<main>
  <div class="whats_this">
    <h1>100years Twitterとは</h1>
    <h2>連用日記をモチーフにしたTwitterのクローンアプリです</h2>
    <p>1日のつぶやきのみ表示され、過去の同じ時間のつぶやきも同じタイムラインに表示されます</p>
    <p>現在は作者のつぶやきのみ。実質作者のミニブログ</p>
  </div>
  <div class="tweets">
    <div class="tweet">
      <div class="tweet_text">
        <p>サンプル1</p>
      </div>
      <div class="tweet_time">10:31</div>
    </div>
    <div class="tweet past">
      <div class="tweet_text">
        <p>サンプル2 過去のツイート</p>
      </div>
      <div class="tweet_time"><span class="tweet_year">昨日の </span>10:32</div>
    </div>
    <div class="tweet">
      <div class="tweet_img"><img src="http://afpbb.ismcdn.jp/mwimgs/e/6/810x540/img_e650cde6995db99067d5de3f775febdb195575.jpg"
          alt=""></div>
      <div class="tweet_text">
        <p>サンプル3 画像付きツイート</p>
      </div>
      <div class="tweet_time">10:33</div>
    </div>
    <div class="tweet">
      <div class="tweet_text">
        <p>サンプル4 長文ツイート</p>
      </div>
      <div class="tweet_time">10:34</div>
    </div>
    <div class="tweet past">
      <div class="tweet_img">
        <img src="https://i.pinimg.com/originals/89/21/db/8921db38fad721d71e160b37a17d46d8.jpg" alt="">
      </div>
      <div class="tweet_text">
        <p>サンプル5 過去の画像付き</p>
      </div>
      <div class="tweet_time"><span class="tweet_year">昨年の</span>10:35</div>
    </div>
  </div>
</main>