<main>
	<div class="tweets">
		<div class="tweet">
	<%= form_tag("/posts/create") do %>
	<div class="create_tweet">
	
		<textarea name="content" id="" rows="5"></textarea>
		<input type="submit" value="Log" class="log_btn">

	</div>
	<%end%>
</div>
	<% @posts.each do |post| %>
	  <div class="tweet">
			<div class="tweet_text">
			<%= post.content %>
			</div>
			<div class="tweet_time">
			<%= post.created_at%>
			</div>
    	</div>
	<%end%>
    </div>
</main>