*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  background: #EBEBEB;
  margin: 0px;
}

header{
  background: #bbb;
  padding: 8px;
}

header a{
  color: #fff;
  font: 1.2em sans-serif;
}


header>a:hover{
  color: #ddd;
  transition: .1s;
}

header.home> {
  font: 3em sans-serif;
  text-align: center;
}

footer {
  text-align: center;
  color: #fff;
}

.tweet {
max-width: 500px;
width: 80%;
margin: 10px auto;

background: white;
// border-radius: 6px;
font-size: 1.1em;
}

.tweet+.past {
opacity: 0.7;
position: relative;
left: -20px;
}

.tweet_img>img {
width: 100%;
// border-radius: 6px 6px 0 0;
}

.tweet_text {
padding: 0.2em 2em;

// font-family: 'Noto Serif JP', serif;
font-family: YuMincho, serif;
}

.tweet_time {
padding: 0.8em 1em;
font-size: 12px;
color: #999;
text-align: right;
}

.tweet_year {
color: tomato;
font-weight: bold;
}

.create_tweet {
padding: 10px;
// text-align: right;
}

.create_tweet>textarea {
position: relative;
margin: auto;
padding: 10px;
width: 100%;
resize: vertical;
border: 1px solid #ddd;
border-radius: 6px 6px 0px 6px;
font: 1em sans-serif;
text-align: left;
}

.simplemde {
  text-align: left;
}

.past_date {
  color: tomato;
}

/* フォーム================================  progateからコピー*/
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  // width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  // background-color: #3ecdc6;
  // color: white;
  // cursor: pointer;
  // font-weight: 300;
  // width: 120px;
  // border-radius: 2px;
  // margin-top: 8px;
  // margin-bottom: 0;
  // float: right;
  // margin-top: 4px;
	font-weight: bold;
	font-size: 1em;
	padding: 0.3em 2em;
	text-decoration: none;
	background: #eee;
	color: tomato;
	border-radius: 0px 0px 3px 3px;
  transition: .1s;
  float: right;
}

// .log_btn {
// 	// position: relative;
// 	// display: inline-block;
// 	margin-top: 4px;
// 	font-weight: bold;
// 	font-size: 1em;
// 	padding: 0.3em 2em;
// 	text-decoration: none;
// 	background: #eee;
// 	color: tomato;
// 	border-radius: 0px 0px 3px 3px;
//   transition: .1s;
// }

.form input[type="submit"]:hover {
	background: tomato;
  color: white;
  cursor: pointer;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.uploder input {
  display: none;
}

.uploder{
  font-size: 1.2em;
  color: #555;
  margin-left: 8px;
}

.uploder:hover {
  cursor: pointer;
  color: #333;
}