// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form {
	margin: .5em auto;
	width: 180px;
}

.login-form input {
	width: 100%;
}

.login-form label {
	display: inline-block;
	margin-top: 1em;
}